@charset "UTF-8";
body {
	padding-top: 70px;
}
li.my-lng img{max-width:24px;}
#largePhoto,#details{display: inline-block;top:0px;position:relative;}
div.photo {
	display: inline-block;
	padding: 2px;
	position: relative;
}
.photo img {
	cursor: pointer;
}
#photoDetails, #photoDetails .modal-content, #photoDetails .modal-dialog{
	background-color: black;
	padding: 0px;
	margin: 0px;
	color: white;
}
#largePhoto img{cursor:pointer;}
.left-slide{}
.content-center{text-align: center;}
#details{text-align:left;}
.lazy-loading{width:360px;height: 360px;}
#detail-template,#largePhoto .carousel-control { visibility: hidden; }
#largePhoto:hover .carousel-control { visibility: visible; }